.section-about-history {
  display: flex;
  flex-direction: column;
  color: $white;
}

.about-history-content {
  margin-top: 50px;
}

.about-history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  row-gap: 40px;
  align-items: center;
  position: relative;

  @media (max-width: $desktop1300-width) {
    grid-template-rows: repeat(7, 90px);
    row-gap: 20px;
  }

  @media (max-width: $tablet900-width) {
    row-gap: 0;

    .section-text {
      @include fontface-regular;
      font-size: 10px;
      line-height: 15px;
    }
  }

  @media (max-width: $tablet-width) {
    grid-template-rows: repeat(7, 75px);
  }

  @media (max-width: $mobile480-width) {
    grid-template-rows: 1fr;
    gap: 20px;
  }
}

.about-history__item {
  grid-column: span 2;
  grid-row: span 2;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  column-gap: 120px;
  width: 100%;
  height: 100%;

  @media (max-width: $desktop1300-width) {
    column-gap: 70px;
  }

  @media (max-width: $tablet-width) {
    column-gap: 40px;
  }

  @media (max-width: $mobile480-width) {
    gap: 10px;
  }

  &:nth-child(even) {
    .about-history__item-content {
      order: 1;

      @media (max-width: $mobile480-width) {
        order: 0;
      }
    }

    .about-history__item-content-info {
      margin-top: auto;
    }
  }

  @media (max-width: $mobile480-width) {
    grid-template-columns: 1fr;
  }
}

.about-history__item-one {
  grid-area: 1/1/3/-1;

  @media (max-width: $desktop1300-width) {
    grid-area: 1/1/4/-1;
  }

  @media (max-width: $mobile480-width) {
    grid-area: 1/1/2/-1;
  }
}

.about-history__item-second {
  grid-area: 2/1/4/-1;

  @media (max-width: $desktop1300-width) {
    grid-area: 3/1/6/-1;
  }

  @media (max-width: $tablet-width) {
    grid-area: 4/1/7/-1;
  }

  @media (max-width: $mobile480-width) {
    grid-area: 2/1/3/-1;
  }
}

.about-history__item-third {
  grid-area: 4/1/6/-1;

  @media (max-width: $desktop1300-width) {
    grid-area: 6/1/9/-1;
  }

  @media (max-width: $tablet-width) {
    grid-area: 7/1/10/-1;
  }

  @media (max-width: $mobile480-width) {
    grid-area: 3/1/4/-1;
  }
}

.about-history__item-content {
  max-width: 547px;
  max-height: 412px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .about-history__item-content-info {
    padding: 30px 0;

    @media (max-width: $desktop1300-width) {
      padding: 10px 0;
    }

    @media (max-width: $tablet-width) {
      padding: 0;
    }
  }

  @media (max-width: $desktop-width) {
    max-width: 450px;
  }

  @media (max-width: $desktop1300-width) {
    max-width: 330px;
  }

  @media (max-width: $tablet900-width) {
    max-width: 250px;
  }

  @media (max-width: $tablet-width) {
    max-width: 200px;
  }
}

.about-history__item-content-img {
  img {
    width: 100%;
    height: 100%;
    max-width: 547px;
    max-height: 217px;
    object-fit: cover;
    filter: grayscale(100%);

    &:hover {
      filter: grayscale(0);
    }
  }
}

.about-history__item-content-info {
  max-width: 547px;

  @media (max-width: $desktop-width) {
    max-width: 450px;
  }

  @media (max-width: $desktop1300-width) {
    max-width: 330px;
  }

  @media (max-width: $tablet900-width) {
    max-width: 250px;
  }

  @media (max-width: $tablet-width) {
    max-width: 200px;
  }
}

.about-history__item-content-info-title {
  @include fontface-regular;
  font-size: 16px;
  line-height: 19.36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 25px;

  @media (max-width: $desktop1300-width) {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 15px;
  }

  @media (max-width: $tablet900-width) {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 10px;
  }

  @media (max-width: $tablet-width) {
    font-size: 10px;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  right: calc(50% - 1px);
  width: 2px;
  height: 100%;
  z-index: 3;
  background-color: $white;

  @media (max-width: $mobile480-width) {
    right: 30px;
  }
}

.progress-bar-now {
  content: "";
  position: absolute;
  width: 2px;
  height: 0%;
  max-height: 100%;
  background: $light-blue;
  top: 0;
  right: calc(50% - 1px);
  z-index: 5;
  transition: height 0.3s ease;

  @media (max-width: $mobile480-width) {
    right: 30px;
  }
}

.progress-dots {
  width: 45px;
  height: 45px;
  background-color: $white;
  border-radius: 50%;
  position: absolute;

  @media (max-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.progress-dots__one {
  top: 0;
  left: calc(50% - 22.5px);

  @media (max-width: $tablet-width) {
    top: 0;
    left: calc(50% - 10px);
  }
}

.progress-dots__second {
  top: calc(50% - 22.5px);
  left: calc(50% - 22.5px);

  @media (max-width: $tablet-width) {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }

  @media (max-width: $tablet-width) {
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}

.progress-dots__third {
  bottom: 0;
  left: calc(50% - 22.5px);

  @media (max-width: $tablet-width) {
    bottom: 0;
    left: calc(50% - 10px);
  }
}

.dots-active {
  background-color: $light-blue;
}
