.section-missions {
  display: flex;
  flex-direction: column;
  color: $white;
}

.section-missions-content {
  display: grid;
  grid-template-columns: 550px 1fr;
  column-gap: 80px;

  @media (max-width: $desktop1300-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.section-missions-content__info {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: $desktop1300-width) {
    grid-column: span 2;
    margin-bottom: 30px;
  }
}

.section-missions-content__info-title {
  @include fontface-regular;
  font-size: 64px;
  line-height: 76px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (max-width: $tablet900-width) {
    font-size: 45px;
    line-height: 50px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 35px;
  }
}

.section-missions-content__description:last-child {
  .button {
    margin-top: 30px;
    margin-left: auto;
  }
}

.section-missions-content__description-title {
  @include fontface-regular;
  font-size: 16px;
  line-height: 19.36px;
  padding: 0;
  margin: 0 0 15px;
  text-transform: uppercase;
}

.section-missions-content__games {
  background-repeat: no-repeat;
  background-position: 70px 40px;
  background-size: 80px 80px;

  .section-missions-content__description {
    padding: 0;
  }

  @media (max-width: $desktop1300-width) {
    grid-column: span 2;
  }
}

.section-missions-content__games-img {
  filter: grayscale(1);
  margin-bottom: 30px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &:hover {
    filter: grayscale(0);
  }
}
