.section-contacts-map {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  color: $white;
  padding: 18px 0;
  border-bottom: 2px solid $white;

  @media (max-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 105px;
  padding-right: 25px;
  padding-bottom: 40px;
  gap: 20px;

  @media (max-width: $tablet900-width) {
    padding-left: 50px;
  }

  @media (max-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (max-width: $mobile480-width) {
    padding-left: 20px;
  }
}

.contacts-phone {
  @include fontface-regular-pro;
  display: flex;
  flex-direction: column;
}

.contacts-phone__text {
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.contacts-phone__link {
  font-size: 24px;
  line-height: 28.8px;
  color: $white;
  text-decoration: none;
}

.contacts-address {
  @include fontface-regular-pro;
  display: flex;
  flex-direction: column;
}

.contacts-address__text {
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.contacts-address__link {
  font-size: 24px;
  line-height: 28.8px;
  color: $white;
}

.contacts-support {
  @include fontface-regular-pro;
  font-size: 16px;
  line-height: 19.2px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.contacts-schedule {
  @include fontface-regular-pro;
  font-size: 16px;
  line-height: 19.2px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts-schedule__text {
  padding: 0;
  margin: 0;
}

.contacts-schedule__time {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0;
  margin: 0;
}

.contacts-map {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $desktop-width) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (max-width: $tablet900-width) {
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    grid-column: span 2;
  }
}

.contacts-location {
  display: flex;
  flex-direction: column;
  padding: 35px 30px 75px 40px;
  gap: 15px;

  @media (max-width: $desktop-width) {
    grid-column: span 2;
  }

  @media (max-width: $mobile480-width) {
    padding-left: 20px;
  }
}

.contacts-location__title {
  @include fontface-regular-pro;
  font-size: 48px;
  line-height: 50.62px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (max-width: $desktop-width) {
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    font-size: 35px;
    line-height: 40px;
  }
}

.contacts-location-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.contacts-location__item {
  width: 153px;
  height: 153px;
  border: 1px solid $white;
  border-radius: 50%;
}

.contacts-location__item-link {
  @include fontface-regular-pro;
  font-size: 16px;
  line-height: 16.87px;
  text-decoration: none;
  color: $white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contacts-location__text {
  @include fontface-regular-pro;
  font-size: 16px;
  line-height: 16.87px;
  padding: 0;
  margin: 0;
}
