.teacher-reputation {
  position: relative;

  .blur {
    width: 600px;
    height: 600px;
    right: -350px;
    top: calc(50% - 200px);
    animation: moveBlur 6s linear infinite;
  }
}

.teacher-reputation .container {
  display: grid;
  gap: 35px;
  color: $white;
}

.teacher-page-title {
  @include fontface-regular;
  font-size: 48px;
  line-height: 57.74px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  max-width: 1170px;
  span {
    text-transform: lowercase;
  }

  @media (max-width: $tablet900-width) {
    font-size: 35px;
    line-height: 40px;
  }

  @media (max-width: $tablet-width) {
    font-size: 25px;
    line-height: 35px;
  }
}

.teacher-reputation__item-text {
  @include fontface-regular;
  font-size: 24px;
  line-height: 28.87px;
  margin: 0;
  padding: 0;
  max-width: 1170px;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}
