.teacher-reputation {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 500px);
  color: $white;
  border-bottom: 2px solid $white;

  @media (max-width: $tablet900-width) {
    grid-template-columns: 1fr;
  }
}

.teacher-reputation__item {
  padding: 50px 75px 75px 105px;

  &:first-child {
    border-right: 2px solid $white;

    @media (max-width: $tablet900-width) {
      border-right: none;
    }
  }

  @media (max-width: $desktop1300-width) {
    padding: 40px 50px 60px;
  }

  @media (max-width: $tablet-width) {
    padding: 30px;
  }
}

.teacher-page-title {
  @include fontface-regular-pro;
  font-size: 48px;
  line-height: 45.94px;
  text-transform: uppercase;
  margin-top: 0;
  padding: 0;

  span {
    text-transform: lowercase;
  }

  @media (max-width: $tablet-width) {
    font-size: 25px;
    line-height: 35px;
  }
}

.teacher-reputation__item-text {
  @include fontface-regular-pro;
  font-size: 24px;
  line-height: 22.97px;
  color: $dark-grey;
  margin-bottom: 0;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
  }
}
