.section-info-admission {
  display: flex;
  flex-direction: column;
}

.info-admission-list {
  display: flex;
  flex-direction: column;
}

.info-admission-list__item {
  border-bottom: 2px solid $white;
  padding: 0 240px;

  @media (max-width: $desktop1300-width) {
    padding: 0 120px;
  }

  @media (max-width: $tablet900-width) {
    padding: 0;
  }
}

.info-admission-list__item-wrapper {
  padding: 80px 60px 60px;
  border-right: 2px solid $white;
  border-left: 2px solid $white;

  .section-text {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 40px;
  }

  @media (max-width: $mobile480-width) {
    padding: 20px;
  }
}

.info-admission-list__item-title {
  @include fontface-bold;
  font-size: 48px;
  line-height: 50.62px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 15px;

  @media (max-width: $tablet-width) {
    font-size: 35px;
    line-height: 45px;
  }

  @media (max-width: $mobile480-width) {
    font-size: 28px;
    line-height: 40px;
  }
}
