.section-info-admission {
  display: flex;
  flex-direction: column;
  color: $white;
}

.admission-heading {
  background-color: $black-secondary;
  display: flex;
  align-items: center;
  width: 100%;
}

.admission-list {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 50px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
  }
}

.admission-list__item {
  width: 100%;
  max-width: 980px;
}

.admission-list-heading {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  min-height: 85px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 85px;
    height: 85px;
    background-color: $black-secondary;
  }

  @media (max-width: $mobile480-width) {
    min-height: 50px;

    &::before {
      width: 50px;
      height: 50px;
    }
  }

}

.admission-list__item-title {
  @include fontface-regular;
  font-size: 48px;
  line-height: 50.62px;
  text-transform: uppercase;
  padding: 0 0 0 130px;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 35px;
    line-height: 45px;
  }

  @media (max-width: $mobile480-width) {
    padding-left: 70px;
    font-size: 20px;
    line-height: 30px;
  }
}
