.section-about {
  position: relative;
  .blur {
    width: 600px;
    height: 600px;
    right: -100px;
    top: calc(50% - 200px);
    animation: moveBlur 6s linear infinite;
  }
}

.section-about .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $white;
  gap: 20px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $mobile480-width) {
    gap: 10px;
  }
}

.about-heading {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    grid-column: span 2;
  }
}

.section-about-content {
  margin-top: 200px;
}

.about-text {
  @include fontface-regular;
  font-size: 48px;
  line-height: 58.09px;
  margin: 0;
  padding: 0;
  margin-bottom: 5px;

  @media (max-width: $desktop1300-width) {
    font-size: 40px;
    line-height: 55px;
  }

  @media (max-width: $tablet-width) {
    font-size: 25px;
    line-height: 25px;
  }
}

.about-services {
  grid-area: 2/1/3/2;
}

.services-list {
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    grid-column: span 2;
  }

  @media (max-width: $mobile480-width) {
    flex-wrap: wrap;
  }
}

.services-list__item {
  padding: 57px 15px 50px;
  text-align: center;
  width: 100%;

  @media (max-width: $desktop1300-width) {
    padding: 30px;
  }
}

.services-list__item-grafity {
  width: 140px;
  height: 140px;
  border: 1px solid $white;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    @include fontface-regular;
    font-size: 40px;
    font-weight: 400;
    line-height: 48.41px;
    position: relative;

    @media (max-width: $desktop1300-width) {
      font-size: 20px;
    }
  }

  @media (max-width: $desktop1300-width) {
    width: 60px;
    height: 60px;
  }
}

.about-image__item-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 42px;
  grid-row: span 2;

  img {
    width: 100%;
    height: 100%;
  }

  @media (max-width: $desktop1300-width) {
    justify-content: center;
  }

  @media (max-width: $tablet-width) {
    grid-column: span 2;
    align-items: center;
  }
}

