.section-blog {
  padding-bottom: 15px;
}

.blog-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  .section-title {
    text-transform: uppercase;
  }

  @media (max-width: $tablet900-width) {
    margin-bottom: 30px;
  }
}

.blog-list {
  display: flex;
  color: $white;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: $tablet900-width) {
    flex-wrap: wrap;
  }

  @media (max-width: $tablet-width) {
    justify-content: center;
  }
}

.blog-list__item {
  max-width: 396px;
  min-width: 260px;
  width: 100%;
  height: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .section-text {
    margin-bottom: 20px;
  }

  @media (max-width: $tablet900-width) {
    width: 45%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.blog-list__item-title {
  @include fontface-regular;
  font-size: 16px;
  line-height: 19.36px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 0 20px;

  @media (max-width: $desktop1300-width) {
    font-size: 14px;
  }
}

.blog-figure {
  margin: 0;
}

.blog-figure__img {
  max-width: 396px;
  max-height: 333px;
  margin-bottom: 15px;
  width: 100%;
}

.blog-figcaption {
  display: flex;
  justify-content: space-between;
}

.blog-figcaption__date {
  @include fontface-regular;
  font-size: 16px;
  line-height: 19.36px;
  color: $grey;
}

.blog-figcaption__link {
  @include fontface-regular;
  font-size: 16px;
  line-height: 19.25px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
}
