/* Section-courses */
.section-courses {
  padding-top: 60px;
  position: relative;

  @media (max-width: $tablet900-width) {
    padding-top: 20px;
  }

  .blur {
    left: -100px;
    top: calc(50% - 200px);
    animation: moveBlur 6s linear infinite;
  }
}

.courses-slider {
  overflow: hidden;
  position: relative;
  padding-bottom: 22px;
}

.courses-slider-list {
  display: flex;
  gap: 10px;
}

.courses-slider-list-item {
  padding: 45px 31px;
  color: $white;
  cursor: pointer;
  transition: all 0.5s;
  background-color: $black-secondary;

  .section-text {
    margin-bottom: 35px;

    @media (max-width: $tablet900-width) {
      margin-bottom: 10px;
    }
  }

  &:hover {
    background-color: $grey-darker;

    .courses-slider-item__title {
      color: $light-blue;
    }

    .slider-item__img {
      filter: grayscale(0);
    }

    .button {
      background-color: $light-blue
    }
  }

  @media (max-width: $tablet900-width) {
    padding: 20px;
  }
}

.courses-slider-item__title {
  @include fontface-regular;
  font-size: 32px;
  line-height: 30.62px;
  text-transform: uppercase;
  margin: 0 0 11px;
  padding: 0;

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 25px;
  }
}

.lesson-text {
  @include fontface-regular;
  font-size: 24px;
  line-height: 24.8px;

  @media (max-width: $tablet900-width) {
    font-size: 20px;
    line-height: 20px;
    margin: 10px 0;
  }
}

.slider-item__img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  margin-bottom: 95px;

  @media (max-width: $tablet900-width) {
    margin-bottom: 20px;
  }
}

.courses-slider-item__navigations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  @media (max-width: $tablet900-width) {
    flex-direction: column;
    gap: 10px;
  }
}

.courses-slider__swiper-navigation {
  position: relative;
  margin-bottom: 22px;
  display: flex;
  justify-self: flex-end;
  gap: 25px;

  @media (max-width: $tablet900-width) {
    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.swiper-prev {
  cursor: pointer;

  svg {
    transform: rotate(180deg);
  }
}

.swiper-next {
  cursor: pointer;
}

.swiper-button-disabled {
  .icon-filled rect {
    fill: $grey-lighter;
  }
}



