.section-intro {
  background-image: url("../img/intro.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  width: 100%;
  height: 100%;
  color: $white;
  padding-bottom: 85px;
}

.intro-information {
  padding-top: 365px;
  margin-bottom: 35px;
  max-width: 670px;

  @media (max-width: $desktop1300-width) {
    padding-top: 200px;
    max-width: 520px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 100px;
    max-width: 320px;
    margin-bottom: 30px;
  }
}

.promo-list {
  display: flex;
  gap: 7px;
  max-width: 640px;

  @media (max-width: $desktop1300-width) {
    max-width: 500px;
  }
}

.promo-list__item {
  max-width: 315px;

  .section-text {
    margin-bottom: 40px;
  }

  .button-promo {
    display: block;
    justify-self: center;
  }

  &:first-child {
    .button-promo {
      background-color: $white;
      color: $black;

      &:hover {
        background-color: $light-blue;
        color: $black;
      }
    }
  }

  @media (max-width: $tablet-width) {
    .section-text {
      margin-bottom: 15px;
    }
  }
}
