.section-reviews {
    color: $white;
    padding-top: 45px;
    padding-bottom: 23px;

    @media (max-width: $mobile480-width) {
        padding-top: 0;
    }

    .section-title {
        text-transform: uppercase;
        color: $light-blue;
        margin-bottom: 42px;
        margin-left: 100px;

        @media (max-width: $mobile480-width) {
            margin: 0;
            padding: 10px;
            text-align: center;
        }
    }
}

.reviews-heading {
    border-top: 2px solid $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 105px 30px;

    @media (max-width: $desktop1300-width) {
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
    }

    @media (max-width: $tablet900-width) {
        padding: 20px 50px;
    }

    @media (max-width: $mobile480-width) {
        padding: 20px;
    }

}

.reviews-title {
    @include fontface-regular-pro;
    font-size: 48px;
    line-height: 45.94px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    @media (max-width: $tablet900-width) {
        font-size: 25px;
        line-height: 35px;
    }
}

.reviews-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.reviews-info__text {
    @include fontface-regular-pro;
    font-size: 65.85px;
    line-height: 63.02px;
    padding: 0;
    margin: 0;

    @media (max-width: $tablet900-width) {
        font-size: 35px;
        line-height: 45px;
    }
}

.reviews-rating {
    display: flex;
    flex-direction: column;
}

.reviews-rating__star {
    padding: 0;
    margin: 0;
    display: flex;
    max-width: 167px;
    margin-bottom: 5px;
}

.rating-star {
    padding: 0;
    margin: 0;

    svg {
        width: 32px;
        height: 32px;
    }
}


.reviews-rating__text {
    padding: 0 0 0 10px;
    margin: 0;
    @include fontface-regular-pro;
    font-size: 17.12px;
    line-height: 19.69px;
    color: $dark-grey;

    span {
        color: $extra-light-black;
    }
}

.swiper-reviews {
    padding: 0 70px 50px;
    overflow: hidden;
    border-bottom: 2px solid $white;

    @media (max-width: $tablet900-width) {
        padding: 0 40px 20px;
    }

    @media (max-width: $tablet-width) {
        padding: 20px;
    }
}
.reviews {
    display: flex;
}
.reviews-item {
    border: 1px solid $white;
    padding: 30px 25px;
}
.reviews-item__heading {
    display: flex;
    gap: 5px;
    margin-bottom: 25px;

    @media (max-width: $mobile480-width) {
        flex-wrap: wrap;
    }
}

.reviews-item__author {
    width: 36px;
    height: 36px;
}

.reviews-text {
    @include fontface-regular-pro;
    font-size: 15.75px;
    line-height: 18.12px;
    padding: 0;
    margin: 0;
    color: $dark-grey;
}

.author-flag {
    width: 19px;
    height: 12px;
}


.reviews-item__rating {
    display: flex;
    align-items: center;
    margin-left: auto;

    svg {
        width: 26px;
        height: 23px;
    }

    @media (max-width: $mobile480-width) {
        margin: 0;

        svg {
            width: 16px;
            height: 13px;
        }
    }
}


.rating-value {
    padding: 0;
    margin: 0;
    @include fontface-regular-pro;
    font-size: 14.63px;
    line-height: 16.82px;
    color: $extra-light-black;
    margin-left: 6px;

    span {
        color: $dark-grey;
    }

}

.reviews-item__link {
    @include fontface-regular-pro;
    font-size: 13.5px;
    line-height: 15.53px;
    color: $dark-grey;
    display: inline-block;
    margin-top: 8px;
}

