.section-video {
    padding: 20px 0;
    max-width: 100%;
    padding: 20px 130px;
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    @media (max-width: $desktop1300-width) {
        padding: 10px 50px;
    }
}