.courses-page {
    .section-heading {
        &::before {
            display: none;
        }

        @media (max-width: $tablet900-width) {
            flex-direction: column;
            gap: 20px;
            padding-left: 10px;
            padding-bottom: 20px;
        }

    }

    .heading-title {
        color: $light-blue;
        margin-right: 35px;
    }

    .section-subtitle {
        max-width: 600px;
    }
}

.section-directions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $white;
}
.section-directions__item {
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    @include fontface-regular-pro;
    font-size: 48px;
    line-height: 45.94px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 105px;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid $white;
    background-color: transparent;
    cursor: pointer;

    &:first-child {
        padding-top: 50px;
        padding-bottom: 50px;
        @media (max-width: $tablet-width) {
            padding: 15px 0 15px 20px;
        }
    }

    &:nth-child(2) {
        padding-top: 35px;
        padding-bottom: 35px;

        @media (max-width: $tablet-width) {
            padding: 15px 0 15px 20px;
        }
    }

    &:nth-child(3) {
        padding-top: 20px;
        padding-bottom: 20px;

        @media (max-width: $tablet-width) {
            padding: 15px 0 15px 20px;
        }
    }

    @media (max-width: $desktop1300-width) {
        padding-left: 50px;
    }

    @media (max-width: $tablet900-width) {
        font-size: 40px;
    }

    @media (max-width: $tablet-width) {
        font-size: 30px;
        line-height: 35px;
        padding-left: 30px;
    }

    @media (max-width: $mobile480-width) {
        font-size: 20px;
        line-height: 25px;
    }
}

.directions-active {
    pointer-events: none;
    background-color: $white;
    color: $black;
}

