.section-courses-slider {
  position: relative;

  .blur {
    width: 700px;
    height: 700px;
    right: -450px;
    top: calc(50% - 300px);
    animation: moveBlurBottom 6s linear infinite;
  }

  .blur-left {
    width: 700px;
    height: 700px;
    left: -450px;
    top: calc(50% - 300px);
    animation: moveBlurTop 6s linear infinite;
  }
}

.section-directions.container {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 color: $white;
}

.section-directions-title {
 @include fontface-regular;
 font-size: 36px;
 font-weight: 400;
 line-height: 43.31px;
 text-align: left;
 text-transform: uppercase;
 margin: 0;
}

.section-directions-content {
 padding-top: 40px;

 @media (max-width: $mobile480-width) {
   padding-top: 20px;
 }
}

.section-directions__item {
 @include fontface-regular;
 padding: 0;
 display: flex;
 align-items: center;
 width: 100%;
 font-size: 48px;
 line-height: 45.94px;
 text-transform: uppercase;
 padding-left: 90px;
 padding-top: 30px;
 padding-bottom: 30px;
 margin: 0;
 border: none;
 background-color: transparent;
 cursor: pointer;
 color: $grey-middle;

 @media (max-width: $tablet900-width) {
   font-size: 40px;
   padding-left: 40px;
 }

 @media (max-width: $tablet-width) {
   font-size: 30px;
   line-height: 35px;
 }

 @media (max-width: $mobile480-width) {
   font-size: 20px;
   line-height: 25px;
 }
}

.directions-active {
 pointer-events: none;
 background-color: $black-secondary;
 color: $white;
}

.section-directions-panel {
  display: none;
}

.section-directions-panel-show {
  display: block;
}
