.section-distribution {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 110px 20px 60px;

  @media (max-width: $desktop1300-width) {
    padding: 20px 60px;
  }

  @media (max-width: $tablet900-width) {
    padding: 20px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.distribution-logo {
  max-width: 342px;
  max-height: 113px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.distribution-content {
  display: flex;
  align-items: flex-end;
  gap: 16px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.distribution-mail {
  display: flex;
  flex-direction: column;

  @media (max-width: $mobile480-width) {
    align-items: center;
  }
}

.distribution-mail__title {
  @include fontface-regular;
  font-size: 13px;
  line-height: 24.8px;
  padding: 0;
  margin: 0;
  color: $white;
  margin-bottom: 7px;
}
