.footer-copyright {
  display: flex;
  padding: 45px 40px 45px 70px;
  justify-content: space-between;
}

.footer-copyright__link {
  text-decoration: none;
  margin-right: 125px;
  font-weight: 400;
  color: $white;

  &:hover,
  &:focus {
    color: $green-special;
  }
}

.footer-copyright__text {
  margin-left: auto;
}
