body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: $black;
  color: $white;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  overflow: hidden;
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $mobile480-width) {
    max-width: $tablet-width;
    margin: 0 auto;

  }

  @media (min-width: $tablet-width) {
    max-width: $tablet900-width;
    margin: 0 auto;
  }

  @media (min-width: $tablet900-width) {
    max-width: $desktop1300-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop1300-width) {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.page-contacts {
  .section-page-form {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.actors-author {
  @include fontface-regular;
  font-size: 24px;
  line-height: 25.31px;
  margin: 0;
  padding: 25px 0 25px 65px;
  overflow: hidden;

  p {
    margin: 0;
    max-width: 440px;
  }
}

.element-animation {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.5s;
}

.element-animation:nth-child(2).element-show {
  -webkit-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.element-animation:nth-child(3).element-show {
  -webkit-transition-delay: 1s;
  -o-transition-delay: 1s;
  transition-delay: 1s;
}

.element-animation:nth-child(4).element-show {
  -webkit-transition-delay: 1.5s;
  -o-transition-delay: 1.5s;
  transition-delay: 1.5s;
}

.element-animation:nth-child(5).element-show {
  -webkit-transition-delay: 2s;
  -o-transition-delay: 2s;
  transition-delay: 2s;
}

.element-animation:nth-child(6).element-show {
  -webkit-transition-delay: 2.5s;
  -o-transition-delay: 2.5s;
  transition-delay: 2.5s;
}

.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}
