.header {
  color: $white;
}

.header-nav {
  background-color: $grey-header-top;
}

.header-nav-top {
  display: flex;
  justify-content: space-between;
  position: relative;
}



.header-nav-bottom {
  width: 100%;
  height: 100px;
  background-color: $black;
  display: none;
  position: absolute;
  z-index: 1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100px;
    height: 100%;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header-nav-bottom.active {
  display: block;
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-header__logo {
  width: 100%;
  height: 100%;
  max-width: 248px;
  max-height: 87px;

  @media (max-width: $desktop1300-width) {
    max-width: 200px;
  }

  @media (max-width: $tablet900-width) {
    max-width: 150px;
  }
}

.navigation-desktop {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: 100%;
}

.navigation-item {
  display: flex;
  height: 100%;
  max-height: 100px;

  &:hover {
    background: $hover-gradient;
  }

  &:focus .navigation-item__link,
  &:active .navigation-item__link {
    background: $hover-gradient;
  }
}

.navigation-item__link {
  display: flex;
  align-items: center;
  padding: 40px 20px;
  height: 100%;
  max-height: 100px;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;
  @include fontface-regular;
  font-size: 25px;
  line-height: 1;

  @media (max-width: $desktop1300-width) {
    font-size: 18px;
  }

  @media (max-width: $tablet900-width) {
    font-size: 15px;
  }
}

.navigation-item__link.current-item {
  background: $hover-gradient;
}

.user-reg__link.current-item {
  color: $green-special;
}

.user-log__link.current-item {
  path {
    stroke: $green-special;
  }
}

.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}
