.user-list {
  display: flex;
  height: 100%;

  @media (max-width: $tablet-width) {
    border-left: none;
  }
}

.user-list__item {
  padding: 25px 15px;
}

.user-reg__link {
  color: $white;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
  text-align: center;
  width: 164px;

  &:hover {
    background: $hover-gradient;
  }
}

.user-log {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-log__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 25px;
  height: 100%;

  &:hover {
    background: $hover-gradient;
  }
}

.user-log.current-item {
  &:hover {
    path {
      stroke: $black;
    }
  }
}

.user-log__mobile {
  display: none;
  padding-left: 45px;
  padding-right: 45px;
  align-items: center;
  justify-content: center;

  &:hover {
    path {
      stroke: $light-blue;
    }
  }
}

.user-reg {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
