.user-list {
  display: flex;
  align-items: center;
  gap: 45px;

  @media (max-width: $mobile480-width) {
    gap: 10px;
  }
}

.user-list__item {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover .user-reg__link {
    color: $green-special
  }

  &:hover .user-log__link {
    path {
      stroke: $green-special;
    }
  }
}

.user-reg__link {
  @include fontface-regular;
  font-size: 18px;
  line-height: 24.8px;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;

  @media (max-width: $mobile480-width) {
    font-size: 16px;
  }
}

.user-log__link {
  display: block;

  @media (max-width: $mobile480-width) {
    svg {
      width: 25px;
      height: 25px;
    }
  }

}
