.burger {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 135px;

    @media (max-width: $tablet-width) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.burger-button {
    border: none;
    background-color: $white;
    width: 50px;
    height: 50px;
    padding: 0;
    cursor: pointer;
    &:hover {
        background-color: $light-blue;
    }
}

.burger-item {
    display: block;
    width: 24px;
    height: 3px;
    background-color: $black;
    margin: 0 auto;
    position: relative;

}

.burger-item::before {
    content: "";
    width: 24px;
    height: 3px;
    background-color: $black;
    position: absolute;
    top: -8px;
    left: calc(50% - 12px);
    z-index: 1;
}

.burger-item::after {
    content: "";
    width: 24px;
    height: 3px;
    background-color: $black;
    position: absolute;
    top: 8px;
    left: calc(50% - 12px);
    z-index: 1;
}

@media (max-width: $desktop1300-width) {
    .burger {
        margin-left: auto;
    }
}
