.section-comment-students {
  display: flex;
  flex-direction: column;
}

.comment-students-heading {
  background-color: $black-secondary;
  display: flex;
  align-items: center;
  width: 100%;
}

.comment-students-list {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 28px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    flex-direction: column;
  }
}

.comment-students-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-students__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
