.reviews-page {
    .page-reviews-heading {
        justify-content: flex-end;
        border-top: 2px solid $white;
        display: flex;
        align-items: center;
        padding: 50px 105px 30px;

        @media (max-width: $tablet900-width) {
            padding-left: 50px;
            padding-right: 50px;
        }

        @media (max-width: $mobile480-width) {
            padding: 20px;
        }
    }

    .reviews {
        gap: 26px;

        @media (max-width: $desktop1300-width) {
            flex-direction: column;
        }
    }
  }

.page-reviews-info {
    padding: 0 70px 50px;
    border-bottom: 2px solid $white;

    @media (max-width: $tablet900-width) {
        padding: 0 40px 20px;
    }

    @media (max-width: $tablet-width) {
        padding: 20px;
    }
}

.reviews-nav {
    display: flex;
    gap: 34px;
    justify-content: center;

    .section-link {
        text-transform: uppercase;

        &:nth-child(2) {
            background-color: $white;
            color: $black;

            @media (max-width: $mobile480-width) {
                margin: 0;
             }
        }
    }

    @media (max-width: $mobile480-width) {
       flex-direction: column;
       gap: 10px;
    }
}