@mixin style_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin link {
  text-decoration: none;
}

//Миксин резинового шрифта (шрифт по макету, минимальный шрифт)
// $maxWidth - максимальная ширина макета

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//миксины шрифтов
@mixin fontface-extralight {
  font-family: "Inter-ExtraLight", "Arial", "Helvetica", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@mixin fontface-light {
  font-family: "Inter-Light", "Arial", "Helvetica", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@mixin fontface-regular {
  font-family: "Inter-Regular", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin fontface-medium {
  font-family: "Inter-Medium", "Arial", "Helvetica", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@mixin fontface-semibold {
  font-family: "Inter-SemiBold", "Arial", "Helvetica", sans-serif;
  font-weight: 600;
  font-style: normal;
}

@mixin fontface-bold {
  font-family: "Inter-Bold", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@mixin fontface-regular-pro {
  font-family: "Gotham Pro", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin fontface-special {
  font-family: "Bergamasco", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-style: italic;
}

