@mixin style_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin link {
  text-decoration: none;
}

//Миксин резинового шрифта (шрифт по макету, минимальный шрифт)
// $maxWidth - максимальная ширина макета

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

//миксины шрифтов

@mixin fontface-regular {
  font-family: "Actor", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin fontface-bold {
  font-family: "Actor", "Arial", "Helvetica", sans-serif;
  font-weight: 700;
  font-style: normal;
}
