.section-text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    @include fontface-light;

    @media (max-width: $desktop1300-width) {
        font-size: 12px;
    }

    @media (max-width: $tablet-width) {
        font-size: 10px;
        line-height: 12px;
    }
}

.page-title {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    @include fontface-regular-pro;
    font-size: 48px;
    line-height: 71px;
    margin-bottom: 10px;

    span {
        @include fontface-special;
        font-size: 64px;
        line-height: 71px;
    }

}

.section-title {
    @include fontface-special;
    font-size: 96px;
    line-height: 105.84px;
    color: $light-black;
    padding: 0;
    margin: 0;

    @media (max-width: $desktop1300-width) {
        font-size: 85px;
        line-height: 85.84px;
     }

    @media (max-width: $tablet900-width) {
       font-size: 75px;
    }

    @media (max-width: $tablet-width) {
        font-size: 40px;
        line-height: 55px;
    }

    @media (max-width: $mobile480-width) {
        font-size: 30px;
        line-height: 45px;
    }
}

.section-subtitle {
    padding: 0;
    margin: 0;
    @include fontface-light;
    font-size: 20px;
    line-height: 24px;
    color: $grey;
    margin-bottom: 10px;

    @media (max-width: $tablet-width) {
        font-size: 15px;
        line-height: 15px;
    }
}

.section-link {
    display: block;
    text-decoration: none;
    font-size: 13px;
    width: 203px;
    margin-top: 30px;

    @media (max-width: $tablet-width) {
        padding: 10px;
    }

    &:hover {
        background-color: $light-blue;
        color: $black;
    }

    @media (max-width: $mobile480-width) {
        width: 100%;
    }
}