
// Global style
@import "fonts.scss";
@import "mixins.scss";
@import "variables.scss";

// Global-Section
@import "global-scss/header";
@import "global-scss/social";
@import "global-scss/user";
@import "global-scss/footer";
@import "global-scss/burger.scss";
@import "global-scss/footer-copyright";
@import "global-scss/section-style.scss";
@import "global-scss/button.scss";
@import "global-scss/nav-menu-burger";
@import "global-scss/style-page-title";
@import "global-scss/page-form";
@import "global-scss/distribution";
@import "global-scss/visually-hidden.scss";
@import "global-scss/global-media";


//  page main
@import "main/intro";
@import "main/video";
@import "main/courses";
@import "main/about";
@import "main/applicant.scss";
@import "main/blog";

//  courses-page
@import "courses-page/courses-slider";
@import "courses-page/courses-heading";

//  courses-actor page
@import "courses-actor-page/actor-courses-information";
@import "courses-actor-page/course-detail";
@import "courses-actor-page/programm-course";
@import "courses-actor-page/course-teacher";
@import "courses-actor-page/timetable";
@import "courses-actor-page/course-payment";

//contacts-page
@import "contacts-page/contacts-map";

//reviews-page
@import "reviews-page/comment-students";
@import "reviews-page/reviews-block";

//applicant-page
@import "applicant-page/applicant-heading";
@import "applicant-page/information-admission";
@import "applicant-page/application-process";
@import "applicant-page/faq";

//teacher-page
@import "teacher-page/teacher-reputation";
@import "teacher-page/teacher-sliders";

//teacher-name-page
@import "teacher-name-page/teacher-name-page-biography.scss";

//blog-page
@import "blog-page/tabs";

//article-page
@import "article-page/article-page-events";

//about-page
@import "about-page/about-page-missiong";
@import "about-page/about-history";
@import "about-page/about-gallery";
@import "about-page/about-page-achievements";

//thanks-page
@import "thanks-page/thanks-content";

// animate
@import "global-scss/animate";

body {
  margin: 0 auto;
  background-color: $black;
  background-image: url("../img/background.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.applicant-page {
  color: $white;
}

.page-contacts {
  .section-page-form {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.container {

  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  overflow: hidden;

  @media (min-width: $mobile480-width) {
    max-width: $tablet-width;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    max-width: $tablet900-width;
    margin: 0 auto;
  }

  @media (min-width: $tablet900-width) {
    max-width: $desktop1300-width;
    margin: 0 auto;
  }

  @media (min-width: $desktop1300-width) {
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

