
// Colors
$black: #000000;
$white: #ffffff;
$grey: #a8a8a8;
$dark-grey: #737373;
$medium-black: #1c1c1c;
$light-black: #111111;
$extra-light-black: #181818;
$blue: #002fff;
$light-blue: #00cedb;

//new
$grey-darker: #212121;
$grey-lighter: #666666;
$black-secondary: #0c0c0c;

// Viewports

$desktop-width: 1600px;
$desktop1300-width: 1300px;
$tablet900-width: 900px;
$tablet-width: 768px;
$mobile480-width: 480px;
$mobile-width: 320px;
