.thanks-content {
  color: $white;
}

/* свойства модального окна по умолчанию */
.modal {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  transition: opacity 200ms ease-in;
  margin: 0;
  padding: 0;
}
/* при отображении модального окно */
.modal:target {
  pointer-events: auto;
  opacity: 1;
  overflow-y: auto;
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black;
  background-image: url("../img/background.png");
  background-size: cover;
}

/* свойства для блока, содержащего контент модального окна */
.modal-content {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-clip: padding-box;
  outline: 0;
  width: 100%;
  margin: 0 auto;
}

/* свойства для заголовка модального окна */
.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.thanks-title {
  @include fontface-bold;
  font-size: 128px;
  line-height: 60px;
  margin: 0 auto 50px;

  @media (max-width: $tablet-width) {
    font-size: 100px;
    line-height: 40px;
  }

  @media (max-width: $mobile480-width) {
    font-size: 70px;
  }
}

/* свойства для кнопки "Закрыть" */
.close {
  width: 57px;
  height: 57px;
  display: inline-block;
  background-color: $light-blue;
  position: absolute;
  right: 44px;
  top: 35px;
  z-index: 2;

  @media (max-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }

  @media (max-width: $mobile480-width) {
    right: 20px;
    top: 20px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 34px;
    background-color: $black;
    top: calc(50% - 17px);
    right: calc(50% - 1px);

    @media (max-width: $tablet-width) {
      width: 2px;
      height: 20px;
      top: calc(50% - 10px);
    }
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 15px;
  overflow: auto;
}

.thanks-text {
  @include fontface-regular;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }

  @media (max-width: $mobile480-width) {
    font-size: 20px;
    line-height: 30px;
  }
}
