.actors-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: $white;
  gap: 40px 100px;
  padding-top: 80px;

  @media (max-width: $desktop1300-width) {
    gap: 40px 70px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 40px;
    gap: 20px;
  }
}

.actors-text {
  @include fontface-regular;
  font-size: 24px;
  line-height: 29.05px;
  margin: 0;

  @media (max-width: $tablet-width) {
    grid-column: span  2;
  }

  @media (max-width: $mobile480-width) {
    font-size: 13px;
    line-height: 18px;
  }
}

.courses-actor__nav {
  grid-column: span 2;
  justify-self: flex-end;
}
