.section-course-teacher {
    color: $white;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 650px;

    .heading-title {
        width: 100%;
        padding-top: 35px;
        padding-left: 105px;
        padding-bottom: 35px;
        border-top: 2px solid $white;

        @media (max-width: $tablet-width) {
            padding-left: 50px;
        }

        @media (max-width: $mobile480-width) {
            padding-left: 5px;
        }
    }

    .heading-title + span {
        border-top: 2px solid $white;
        border-left: 2px solid $white;
    }

    @media (max-width: $desktop1300-width) {
       grid-template-columns: 1fr;

       .heading-title + span {
       border: none;
        }
    }
}

.section-course-teacher__title {
    @include fontface-regular-pro;
    font-size: 48px;
    line-height: 45.94px;
    text-transform: uppercase;
    color: $black;
    margin: 0;
    padding: 35px 105px;
    background-color: $white;
    grid-column: span 2;

    @media (max-width: $tablet-width) {
        padding-left: 50px;
    }

    @media (max-width: $mobile480-width) {
        padding-left: 20px;
    }
}

.course-teacher {
    grid-column: span 2;

}

.course-teacher__grid {
    display: grid;
    grid-template-columns: 1fr 650px;
    border-bottom: 2px solid $white;

    @media (max-width: $desktop1300-width) {
        grid-template-columns: 1fr 1fr;

    }

    @media (max-width: $tablet-width) {
        grid-template-columns: 1fr;
    }
}

.course-teacher__title {
    @include fontface-regular-pro;
    font-size: 64px;
    line-height: 61.25px;
    text-transform: uppercase;
    padding: 36px 0 10px 105px;
    margin: 0;
    border-right: 2px solid $white;

    @media (max-width: $desktop1300-width) {
        padding-left: 50px;
        font-size: 45px;
    }

    @media (max-width: $tablet900-width) {
        grid-column: span 2;
    }

    @media (max-width: $tablet-width) {
        font-size: 25px;
        line-height: 40px;
        padding-top: 20px;
    }

    @media (max-width: $mobile480-width) {
        padding-left: 20px;
        font-size: 20px;
        line-height: 25px;
    }
}
.course-teacher__slider {
    grid-area: 2/1/2/2;
    border-top: 2px solid $white;
    border-right: 2px solid $white;
    border-bottom: 2px solid $white;
    padding: 40px 105px;
    overflow: hidden;

    @media (max-width: $desktop1300-width) {
        padding: 40px 50px 110px;
    }

    @media (max-width: $tablet-width) {
        padding-bottom: 20px;
    }

    @media (max-width: $mobile480-width) {
        padding: 20px 20px 30px;
    }

}
.course-teacher__subtitle {
    padding: 0;
    margin: 0 0 35px;
    @include fontface-medium;
    font-size: 16px;
    line-height: 19.36px;
    text-transform: uppercase;
    max-width: 395px;
}

.course-teacher__slider-wrapper {
    display: flex;
}

.course-teacher__slider-wrapper-item {
    img {
        width: 464px;
        height: 569px;
    }

    @media (max-width: $desktop1300-width) {
        img {
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: $tablet900-width) {
        img {
            width: 80%;
            height: 80%;
        }
    }
}

.course-teacher__info {
    grid-area: 2/2/3/3;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 30px;
    @media (max-width: $tablet-width) {
        grid-area: 3/1/4/2;
        padding-top: 20px;
        padding-bottom: 20px;
    }

}

.course-teacher__info-text {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    padding-left: 30px;

    li {
        list-style-type: disc;
    }

    @media (max-width: $tablet-width) {
        margin-top: 10px;
    }
}
.course-teacher-nav {
    grid-area: 3/2/4/3;
    border-left: 2px solid $white;
    padding: 55px 0 70px 30px;

    .section-link {
        margin: 0;
        width: 390px;
    }

    @media (max-width: $tablet-width) {
        grid-area: 4/1/5/2;
        padding: 20px 30px;

        .section-link {
            width: 100%;
        }
    }

}

