.section-course-payment {
    color: $white;

    .heading-title {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

.course-payment {
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    display: grid;
    grid-template-columns: 665px 1fr 405px;

    @media (max-width: $desktop1300-width) {
        grid-template-columns: 500px 1fr 310px;
    }

    @media (max-width: $tablet900-width) {
        grid-template-columns: 190px 1fr 1fr;
    }

    @media (max-width: $mobile480-width) {
        grid-template-columns: 140px 1fr 1fr;
     }
}
.course-lesson {
    padding: 75px 130px 60px 105px;
    border-right: 2px solid $white;
    grid-column: span 2;

    &>div {
        border: 2px solid $white;
        margin-bottom: 30px;
    }

    .section-text {
        position: relative;
        padding-left: 10px;
        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: $white;
            border-radius: 50%;
            left: 0;
            top: calc(50% - 2px);
            z-index: 1;
        }
    }

    @media (max-width: $desktop-width) {
        grid-column: span 3;
        border-right: none;
    }

    @media (max-width: $desktop1300-width) {
        padding-left: 30px;
        padding-right: 30px;
    }

    @media (max-width: $tablet-width) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

}
.course-lesson__title {
    padding-bottom: 20px;
    border-bottom: 2px solid $white;
}
.course-lesson__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 410px;

    @media (max-width: $tablet900-width) {
        grid-template-columns: 1fr 1fr 1fr 310px;
    }

    @media (max-width: $tablet-width) {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
.course-lesson__info-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 45px 20px 45px 30px;

    @media (max-width: $tablet-width) {

        padding: 15px 0px;
        align-items: center;
        text-align: center;
        &:last-child {
            grid-column: span 3;
        }
    }

    @media (max-width: $mobile480-width) {
        grid-column: span 3;
    }
}
.course-lesson__info-item-title {
    @include fontface-regular-pro;
    font-size: 40px;
    line-height: 38.28px;
}
.course-lesson__info-item-definition {
    @include fontface-medium;
    font-size: 16px;
    line-height: 19.36px;
    text-transform: uppercase;
    margin: 0;
}
.course-lesson__info-item-cost {
    @include fontface-regular-pro;
    font-size: 48px;
    line-height: 45.94px;
    padding: 17px 0 8px;
    width: 100%;
    text-align: center;
    background-color: $white;
    color: $black;

    &+.course-lesson__info-item-definition {
        margin: 0 auto;
    }
}

.instalment {
    grid-column: span 2;
    padding: 40px 0 18px 105px;
    border-top: 2px solid $white;

    @media (max-width: $tablet900-width) {
        padding-left: 50px;
    }

    @media (max-width: $tablet-width) {
        padding: 20px 0 20px 30px;
    }

    @media (max-width: $mobile480-width) {
       padding: 10px;
    }
}

.empty {
    display: block;
    border-top: 2px solid $white;
    border-left: 2px solid $white;
}
.course-payment__title {
    @include fontface-regular-pro;
    font-size: 36px;
    line-height: 34.45px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;

    @media (max-width: $tablet-width) {
        font-size: 20px;
        line-height: 30px;
    }
}
.course-payment__bank-year {
    grid-column: span 2;
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    padding: 20px 0 25px 105px;

    @media (max-width: $tablet900-width) {
        padding-left: 50px;
    }

    @media (max-width: $tablet-width) {
        padding-left: 30px;
    }

    @media (max-width: $mobile480-width) {
        padding: 10px;
     }
}
.course-payment__bank-month {
    border-top: 2px solid $white;
    border-bottom: 2px solid $white;
    border-left: 2px solid $white;
    padding: 20px 0 25px 75px;

    @media (max-width: $tablet900-width) {
        padding-left: 50px;
    }

    @media (max-width: $tablet-width) {
        padding-left: 30px;
    }

    @media (max-width: $mobile480-width) {
        padding: 10px;
     }
}
.discounts-title {
    padding: 55px 0 35px 105px;
    border-bottom: 2px solid $white;

    .section-text {
        position: relative;
        padding-left: 10px;
        &::before {
            content: "";
            position: absolute;
            width: 4px;
            height: 4px;
            background-color: $white;
            border-radius: 50%;
            left: 0;
            top: calc(50% - 2px);
            z-index: 1;
        }
    }

    @media (max-width: $tablet900-width) {
        padding-left: 50px;
    }

    @media (max-width: $tablet-width) {
        padding: 20px 0 20px 30px;
    }

    @media (max-width: $mobile480-width) {
        padding: 10px;
    }
}

.discounts-text {
    padding: 25px 0 25px 50px;
    grid-column: span 2;
    color: $dark-grey;
    border-bottom: 2px solid $white;
    border-left: 2px solid $white;

    @media (max-width: $tablet-width) {
        padding: 20px 0 20px 30px;
    }

    @media (max-width: $mobile480-width) {
        padding: 10px;
    }
}

.percent__title {
    border-left: 2px solid $white;
    grid-area: 5/2/6/-1;
}

.section-course-payment .heading-title {
    @media (max-width: $tablet-width) {
        font-size: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media (max-width: $mobile480-width) {
        padding: 10px;
    }
}