.course-detail {
  position: relative;

  .blur-left {
    width: 600px;
    height: 600px;
    left: -300px;
    top: calc(50% - 200px);
    animation: moveBlur 6s linear infinite;
  }
}

.course-detail .container {
  display: flex;
  flex-direction: column;
  color: $white;

  .section-heading {
    margin-bottom: 60px;

    @media (max-width: $tablet900-width) {
      margin-bottom: 30px;
    }
  }
}

.course-detail-information {
  display: flex;
  gap: 25px;
  position: relative;

  @media (max-width: $desktop1300-width) {
    flex-direction: column;
    gap: 0;
  }

  @media (max-width: $tablet900-width) {
    justify-content: center;
    align-items: center;
  }
}

.course-detail-information__img {
  width: 438px;
  height: 559px;

  @media (max-width: $desktop1300-width) {
    position: absolute;
    top: 0px;
    left: 0;
    max-width: 400px;
    height: auto;
  }

  @media (max-width: $tablet900-width) {
    position: sticky;
    max-width: 438px;
    height: auto;
  }
}

.course-detail-information__text {
  @include fontface-regular;
  font-size: 24px;
  line-height: 29.05px;

  p {
    margin: 0 0 25px;
  }

  @media (max-width: $desktop1300-width) {
    float: right;
    font-size: 20px;
    line-height: 25px;

    &::before {
      content: "";
      width: 460px;
      height: 530px;
      float: left;
    }
  }

  @media (max-width: $tablet900-width) {
    &::before {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $mobile480-width) {
    font-size: 13px;
  }
}
