.section-timetable {
  padding-top: 50px;
  padding-bottom: 115px;
  background-color: $black;

  @media (max-width: $mobile480-width) {
    padding-bottom: 40px;
  }
}

.timetable {
  margin-top: 35px;
  color: $white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  tbody {
    width: 100%;
  }

  @media (max-width: $desktop-width) {
    tbody {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }
  }
}

.timetable-tr {
  display: flex;
  justify-content: space-between;
  column-gap: 15px;
  align-items: center;
  height: 100px;
  cursor: pointer;

  @media (max-width: $desktop-width) {
    height: 80px;
    width: 100%;
  }

  @media (max-width: $desktop1300-width) {
    height: auto;
    flex-direction: column;
    width: 25%;
    justify-content: center;
  }

  @media (max-width: $tablet900-width) {
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  td {
    @media (max-width: $desktop1300-width) {
      padding: 15px 0;
    }
  }
}

.timetable-date,
.timetable-time {
  @include fontface-regular;
  font-size: 48px;
  line-height: 45.94px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 15%;

  @media (max-width: $desktop-width) {
    font-size: 35px;
    line-height: 40px;
  }

  @media (max-width: $desktop1300-width) {
    justify-content: center;
  }
}

.timetable-date {
  @media (max-width: $desktop1300-width) {
    width: 100%;
    max-width: 100%;
  }
}

.timetable-time {
  @media (max-width: $desktop1300-width) {
    width: 100%;
    max-width: 100%;
  }
}

.timetable-text {
  @include fontface-regular;
  font-size: 16px;
  line-height: 19.36px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  height: 100%;
  width: 20%;

  @media (max-width: $desktop-width) {
    font-size: 14px;
    line-height: 14px;
    max-width: 408px;
  }

  @media (max-width: $desktop1300-width) {
    justify-content: center;
    padding-left: 0;
    width: 100%;
  }
}

.timetable-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;

  @media (max-width: $desktop1300-width) {
    width: 70%;
  }

}

.timetable-tr:hover {
  background-color: $grey-darker;
}
